In [269]:
import pandas as pd

In [270]:
df = pd.read_csv("spam_or_not_spam.csv")

In [271]:
df.head()

                                               email  class
0   date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...      0
1  martin a posted tassos papadopoulos the greek ...      0
2  man threatens explosion in moscow thursday aug...      0
3  klez the virus that won t die already the most...      0
4   in adding cream to spaghetti carbonara which ...      0

In [272]:
df.isnull().sum()

email    0
class    0
dtype: int64

In [273]:
df['class'].value_counts()

0    2500
1     497
Name: class, dtype: int64

In [274]:
df.iloc[0][0]

' date wed NUMBER aug NUMBER NUMBER NUMBER NUMBER NUMBER from chris garrigues cwg dated NUMBER NUMBERfaNUMBERd deepeddy com message id NUMBER NUMBER tmda deepeddy vircio com i can t reproduce this error for me it is very repeatable like every time without fail this is the debug log of the pick happening NUMBER NUMBER NUMBER pick_it exec pick inbox list lbrace lbrace subject ftp rbrace rbrace NUMBER NUMBER sequence mercury NUMBER NUMBER NUMBER exec pick inbox list lbrace lbrace subject ftp rbrace rbrace NUMBER NUMBER sequence mercury NUMBER NUMBER NUMBER ftoc_pickmsgs NUMBER hit NUMBER NUMBER NUMBER marking NUMBER hits NUMBER NUMBER NUMBER tkerror syntax error in expression int note if i run the pick command by hand delta pick inbox list lbrace lbrace subject ftp rbrace rbrace NUMBER NUMBER sequence mercury NUMBER hit that s where the NUMBER hit comes from obviously the version of nmh i m using is delta pick version pick nmh NUMBER NUMBER NUMBER compiled on URL at sun mar NUMBER NUMBER NUMBER NUMBER ict NUMBER and the relevant part of my mh_profile delta mhparam pick seq sel list since the pick command works the sequence actually both of them the one that s explicit on the command line from the search popup and the one that comes from mh_profile do get created kre ps this is still using the version of the code form a day ago i haven t been able to reach the cvs repository today local routing issue i think _______________________________________________ exmh workers mailing list exmh workers URL URL '

In [275]:
words = df.iloc[0][0].split()
print(words)

['date', 'wed', 'NUMBER', 'aug', 'NUMBER', 'NUMBER', 'NUMBER', 'NUMBER', 'NUMBER', 'from', 'chris', 'garrigues', 'cwg', 'dated', 'NUMBER', 'NUMBERfaNUMBERd', 'deepeddy', 'com', 'message', 'id', 'NUMBER', 'NUMBER', 'tmda', 'deepeddy', 'vircio', 'com', 'i', 'can', 't', 'reproduce', 'this', 'error', 'for', 'me', 'it', 'is', 'very', 'repeatable', 'like', 'every', 'time', 'without', 'fail', 'this', 'is', 'the', 'debug', 'log', 'of', 'the', 'pick', 'happening', 'NUMBER', 'NUMBER', 'NUMBER', 'pick_it', 'exec', 'pick', 'inbox', 'list', 'lbrace', 'lbrace', 'subject', 'ftp', 'rbrace', 'rbrace', 'NUMBER', 'NUMBER', 'sequence', 'mercury', 'NUMBER', 'NUMBER', 'NUMBER', 'exec', 'pick', 'inbox', 'list', 'lbrace', 'lbrace', 'subject', 'ftp', 'rbrace', 'rbrace', 'NUMBER', 'NUMBER', 'sequence', 'mercury', 'NUMBER', 'NUMBER', 'NUMBER', 'ftoc_pickmsgs', 'NUMBER', 'hit', 'NUMBER', 'NUMBER', 'NUMBER', 'marking', 'NUMBER', 'hits', 'NUMBER', 'NUMBER', 'NUMBER', 'tkerror', 'syntax', 'error', 'in', 'expression', 'int', 'note', 'if', 'i', 'run', 'the', 'pick', 'command', 'by', 'hand', 'delta', 'pick', 'inbox', 'list', 'lbrace', 'lbrace', 'subject', 'ftp', 'rbrace', 'rbrace', 'NUMBER', 'NUMBER', 'sequence', 'mercury', 'NUMBER', 'hit', 'that', 's', 'where', 'the', 'NUMBER', 'hit', 'comes', 'from', 'obviously', 'the', 'version', 'of', 'nmh', 'i', 'm', 'using', 'is', 'delta', 'pick', 'version', 'pick', 'nmh', 'NUMBER', 'NUMBER', 'NUMBER', 'compiled', 'on', 'URL', 'at', 'sun', 'mar', 'NUMBER', 'NUMBER', 'NUMBER', 'NUMBER', 'ict', 'NUMBER', 'and', 'the', 'relevant', 'part', 'of', 'my', 'mh_profile', 'delta', 'mhparam', 'pick', 'seq', 'sel', 'list', 'since', 'the', 'pick', 'command', 'works', 'the', 'sequence', 'actually', 'both', 'of', 'them', 'the', 'one', 'that', 's', 'explicit', 'on', 'the', 'command', 'line', 'from', 'the', 'search', 'popup', 'and', 'the', 'one', 'that', 'comes', 'from', 'mh_profile', 'do', 'get', 'created', 'kre', 'ps', 'this', 'is', 'still', 'using', 'the', 'version', 'of', 'the', 'code', 'form', 'a', 'day', 'ago', 'i', 'haven', 't', 'been', 'able', 'to', 'reach', 'the', 'cvs', 'repository', 'today', 'local', 'routing', 'issue', 'i', 'think', '_______________________________________________', 'exmh', 'workers', 'mailing', 'list', 'exmh', 'workers', 'URL', 'URL']

In [276]:
newwords = []
for word in words:
    isalpha = False
    isnum = False
    isspecial = False
    for alpha in word:
        if alpha>='a' and alpha<='z' or alpha>='A' and alpha<='Z':
            isalpha = True
        elif alpha>='0' and alpha <='9':
            isnum = True
        else:
            isspecial = True
    if isspecial:
        continue
    elif isalpha and isnum:
        continue
    else:
        newwords.append(word)
print(newwords)

['date', 'wed', 'NUMBER', 'aug', 'NUMBER', 'NUMBER', 'NUMBER', 'NUMBER', 'NUMBER', 'from', 'chris', 'garrigues', 'cwg', 'dated', 'NUMBER', 'NUMBERfaNUMBERd', 'deepeddy', 'com', 'message', 'id', 'NUMBER', 'NUMBER', 'tmda', 'deepeddy', 'vircio', 'com', 'i', 'can', 't', 'reproduce', 'this', 'error', 'for', 'me', 'it', 'is', 'very', 'repeatable', 'like', 'every', 'time', 'without', 'fail', 'this', 'is', 'the', 'debug', 'log', 'of', 'the', 'pick', 'happening', 'NUMBER', 'NUMBER', 'NUMBER', 'exec', 'pick', 'inbox', 'list', 'lbrace', 'lbrace', 'subject', 'ftp', 'rbrace', 'rbrace', 'NUMBER', 'NUMBER', 'sequence', 'mercury', 'NUMBER', 'NUMBER', 'NUMBER', 'exec', 'pick', 'inbox', 'list', 'lbrace', 'lbrace', 'subject', 'ftp', 'rbrace', 'rbrace', 'NUMBER', 'NUMBER', 'sequence', 'mercury', 'NUMBER', 'NUMBER', 'NUMBER', 'NUMBER', 'hit', 'NUMBER', 'NUMBER', 'NUMBER', 'marking', 'NUMBER', 'hits', 'NUMBER', 'NUMBER', 'NUMBER', 'tkerror', 'syntax', 'error', 'in', 'expression', 'int', 'note', 'if', 'i', 'run', 'the', 'pick', 'command', 'by', 'hand', 'delta', 'pick', 'inbox', 'list', 'lbrace', 'lbrace', 'subject', 'ftp', 'rbrace', 'rbrace', 'NUMBER', 'NUMBER', 'sequence', 'mercury', 'NUMBER', 'hit', 'that', 's', 'where', 'the', 'NUMBER', 'hit', 'comes', 'from', 'obviously', 'the', 'version', 'of', 'nmh', 'i', 'm', 'using', 'is', 'delta', 'pick', 'version', 'pick', 'nmh', 'NUMBER', 'NUMBER', 'NUMBER', 'compiled', 'on', 'URL', 'at', 'sun', 'mar', 'NUMBER', 'NUMBER', 'NUMBER', 'NUMBER', 'ict', 'NUMBER', 'and', 'the', 'relevant', 'part', 'of', 'my', 'delta', 'mhparam', 'pick', 'seq', 'sel', 'list', 'since', 'the', 'pick', 'command', 'works', 'the', 'sequence', 'actually', 'both', 'of', 'them', 'the', 'one', 'that', 's', 'explicit', 'on', 'the', 'command', 'line', 'from', 'the', 'search', 'popup', 'and', 'the', 'one', 'that', 'comes', 'from', 'do', 'get', 'created', 'kre', 'ps', 'this', 'is', 'still', 'using', 'the', 'version', 'of', 'the', 'code', 'form', 'a', 'day', 'ago', 'i', 'haven', 't', 'been', 'able', 'to', 'reach', 'the', 'cvs', 'repository', 'today', 'local', 'routing', 'issue', 'i', 'think', 'exmh', 'workers', 'mailing', 'list', 'exmh', 'workers', 'URL', 'URL']

In [277]:
import numpy as np

In [278]:
arr = np.array(newwords)

In [280]:
arr.shape

(252,)

In [281]:
from spellchecker import SpellChecker
spell = SpellChecker()

In [282]:
all_unique_words = {'a'}

In [283]:
for i in range(0, 2997):
    email = df.iloc[i][0]
    words = email.split()
    for word in words:
        isalpha = False
        isnum = False
        isspecial = False
        for alpha in word:
            if alpha>='a' and alpha<='z' or alpha>='A' and alpha<='Z':
                isalpha = True
            elif alpha>='0' and alpha <='9':
                isnum = True
            else:
                isspecial = True
        if isspecial:
            continue
        elif isalpha and isnum:
            continue
        elif len(word)>45:
            continue
#         elif word != spell.correction(word):
#             continue
        all_unique_words.add(word)

In [284]:
len(all_unique_words)

27516

In [286]:
row =  [i for i in range (1, 2998)]

In [288]:
type(row)

list

In [289]:
words = [ word for word in all_unique_words]

In [291]:
new_df = pd.DataFrame(index = row, columns = words)

In [292]:
new_df.head()

,hoarding,morten,aber,puerile,kren,lesbians,moody,maine,too,windshields,...,myths,searchng,accross,loot,arranged,hatch,sinus,sickness,coaches,drais
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [293]:
new_df.shape

(2997, 27516)

In [294]:
spam_ham = [ df.iloc[x][1] for x in range (0, 2997)]

In [295]:
new_df["spam_ham"] = spam_ham

In [296]:
new_df.shape

(2997, 27517)

In [307]:
new_df = new_df.fillna(int(0))

In [308]:
new_df.iloc[500][-1]

0

In [309]:
new_df.loc[400]["spam_ham"]

0

In [310]:
new_df.head()

,hoarding,morten,aber,puerile,kren,lesbians,moody,maine,too,windshields,...,searchng,accross,loot,arranged,hatch,sinus,sickness,coaches,drais,spam_ham
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [311]:
for i in range(0, 2997):
    email = df.iloc[i][0]
    words = email.split()
    for word in words:
        isalpha = False
        isnum = False
        isspecial = False
        for alpha in word:
            if alpha>='a' and alpha<='z' or alpha>='A' and alpha<='Z':
                isalpha = True
            elif alpha>='0' and alpha <='9':
                isnum = True
            else:
                isspecial = True
        if isspecial:
            continue
        elif isalpha and isnum:
            continue
        elif len(word)>45:
            continue
        new_df.at[new_df.index[i],word] = int(new_df.at[new_df.index[i],word]) + int(1)

In [312]:
new_df.head()

,hoarding,morten,aber,puerile,kren,lesbians,moody,maine,too,windshields,...,searchng,accross,loot,arranged,hatch,sinus,sickness,coaches,drais,spam_ham
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [316]:
new_df['hi'].value_counts()

0    2878
1     111
2       8
Name: hi, dtype: int64

In [318]:
new_df.to_csv("processed_spam_or_not_spam.csv")

In [319]:
new_file = pd.read_csv("processed_spam_or_not_spam.csv")

In [320]:
new_file.head()

,Unnamed: 0,hoarding,morten,aber,puerile,kren,lesbians,moody,maine,too,...,searchng,accross,loot,arranged,hatch,sinus,sickness,coaches,drais,spam_ham
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [321]:
new_file.shape

(2997, 27518)

In [324]:
new_file.loc[2888]["spam_ham"]

1